// Max-width
$xxl: 1600px;
$xl: 1247px;
$lg: 1170px;

// Margin
$auto-margin: 70px auto 0;

// Padding
$padding-big: 24px;
$padding-medium: 16px;
$padding-small: 8px;

// Colors
$theme-color-white: #FFFFFF;
$theme-color-blue: #458FF6;
$theme-color-paragraph: #7D7987;

$bg-edit-color: #463F3A;
$section-edit-color: #9F7833;
$section-edit-color2: #9C6615;

// Fonts
$font-fam: "Mulish";

* {
    margin: 0;
    box-sizing: border-box;
    font-family: $font-fam, sans-serif;
}

// body {
//     background-color: $section-edit-color;
// }

// Header beginning

div.navigator {
    display: flex;
    width: 100%;
    margin-top: 50px;
    flex-direction: column;
    align-items: center;

    header {
        background-color: $theme-color-white;
        width: 100%;
        padding: $padding-small 35px $padding-small $padding-medium;
        max-width: $xl;
        display: flex;

        nav {
            display: flex;
            width: 100%;
            justify-content: space-between;
            align-items: center;

            div.header-logo {
                display: flex;

                img {
                    width: 160px;
                }
            }

            ul {
                display: flex;
                align-items: center;
                gap: 40px;
                list-style: none;

                li {
                    margin: 0;

                    a {
                        text-decoration: none;
                        padding: 0;
                        color: $theme-color-paragraph;
                        font-size: 18px;
                    }
                }

                li:nth-child(1)>a {
                    font-weight: 800;
                    color: black;
                }
            }
        }
    }
}

//Header ending


//Section1 'Virtual Healthcare' beginning

section.hero {
    max-width: $xl;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: $auto-margin;
    height: 598px;
    position: relative;

    div.virtual-healthcare {
        width: 448px;
        height: 348px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        bottom: 30px;

        h1 {
            font-size: 48px;
            line-height: 1.2;
        }

        p {
            font-size: 21px;
            line-height: 1.5;
            color: $theme-color-paragraph;

        }

        button.consult-today {
            outline: none;
            cursor: pointer;
            padding: 0;
            width: 200px;
            height: 60px;
            font-size: 18px;
            font-weight: 700;
            color: white;
            background-color: $theme-color-blue;
            border: none;
            border-radius: 30px;
            transition: 0.2s ease-out;
        }

        button.consult-today:hover {
            background-color: $theme-color-white;
            color: $theme-color-blue;
            border: 3px solid $theme-color-blue
        }
    }

    div.healthcare-pic img {
        width: 693px;
    }

    img.virtual-healthcare-dots {
        width: 132px;
        position: absolute;
        top: -15px;
        left: -230px;
    }
}

//Section1 'Virtual Healthcare' ending


//Section2 'Our Services" beginning

section.hero-2 {
    // background-color: wheat;
    margin: 170px auto 10px;
    width: 100%;
    max-width: $lg;
    position: relative;

    h2 {
        text-align: center;
        font-size: 36px;
        font-weight: 800;
    }

    div.line {
        width: 56px;
        height: 2px;
        border-radius: 30px;
        background-color: black;
        margin: 28px auto;
        align-items: center;
    }

    p.services-description {
        text-align: center;
        font-size: 18px;
        line-height: 1.6;
        color: $theme-color-paragraph;
        margin-bottom: 70px;
    }
}

div.our-services {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    div.service-box {
        display: flex;
        width: calc(33.3333% - 30px);
        min-width: 350px;
        height: 354px;
        flex-direction: column;
        justify-content: space-between;
        // align-items: center;
        background-color: white;
        margin: 15px;
        padding: 50px 35px 60px 45px;
        border-radius: 25px;
        box-shadow:
            1px 3px 6px 3px #6a6a6a,
            0px 18px 32px 28px #e5e9f67d;
        // row-gap: 15px;

        h3 {
            font-size: 24px;
        }

        p {
            font-size: 16px;
            color: $theme-color-paragraph;
            line-height: 1.6;
        }

        p.annoying-af-p {
            height: 76px;
        }
    }
}

button.learn-more {
    cursor: pointer;
    display: block;
    margin: 50px auto;
    padding: 10px 35px;
    border: 2px solid $theme-color-blue;
    border-radius: 25px;
    background-color: $theme-color-white;
    color: $theme-color-blue;
    font-weight: 800;
    transition: 0.2s ease-out;
}

button.learn-more:hover {
    background-color: $theme-color-blue;
    color: $theme-color-white;
}

button.learn-more:active {
    transform: translateY(-4px) scale(1);
}

img.vector-shape {
    position: absolute;
    top: 200px;
    left: -400px;
    z-index: -1;
}

img.dots2 {
    position: absolute;
    top: 530px;
    right: -35px;
    z-index: -1;
}

//Section2 'Our Services" ending



//Section3  'Leading Healthcare' beginning

section.hero-3 {
    width: 100%;
    max-width: 1273px;
    margin: 150px auto;
    display: flex;
    // justify-content: space-between;
    position: relative;
    margin-bottom: 25px;

    img.leading-health-img {
        width: 650px;
        transform: translateX(-50px);
    }

    div.healthcare-div {
        display: flex;
        flex-direction: column;
        align-self: center;
        gap: 35px;
        margin-top: 25px;
        margin-left: 60px;

        h2 {
            font-size: 36px;
            line-height: 1.3;
        }

        div.line-2 {
            width: 56px;
            height: 2px;
            border-radius: 30px;
            background-color: black;
            // margin: 15px 0;
        }

        p {
            font-size: 18px;
            line-height: 1.5;
            margin-bottom: 20px;
            color: $theme-color-paragraph;
        }

        button {
            cursor: pointer;
            align-self: flex-start;
            padding: 10px 35px;
            border: 2px solid $theme-color-blue;
            border-radius: 25px;
            background-color: $theme-color-white;
            color: $theme-color-blue;
            font-weight: 800;
            transition: 0.2s ease-out;
        }

        button:hover {
            background-color: $theme-color-blue;
            color: $theme-color-white;
        }

        button:active {
            transform: translateY(-4px) scale(1);
        }
    }

    img.dots-3 {
        position: absolute;
        bottom: -150px;
        right: -250px;
    }
}


//Section3  'Leading Healthcare' ending



//Section4 'Download our mobile apps' beginning

section.hero-4 {
    width: 100%;
    max-width: 1156px;
    margin: 220px auto 25px auto;
    display: flex;
    justify-content: space-between;

    div.download-apps-div {
        display: flex;
        flex-direction: column;
        align-self: center;
        gap: 35px;
        margin-top: 25px;
        margin-left: 60px;

        h2 {
            font-size: 36px;
        }

        div.line-3 {
            width: 56px;
            height: 2px;
            border-radius: 30px;
            background-color: black;
        }

        p {
            font-size: 18px;
            color: $theme-color-paragraph;
            line-height: 1.5;
        }

        button {
            cursor: pointer;
            align-self: flex-start;
            padding: 10px 35px;
            border: 2px solid $theme-color-blue;
            border-radius: 25px;
            background-color: $theme-color-white;
            color: $theme-color-blue;
            font-weight: 700;
            transition: 0.2s ease-out;
            position: relative;

            svg {
                width: 7px;
                position: absolute;
                top: 14px;
                right: 21px;
                transition: 0.2s ease-out;
            }
        }

        button:hover {
            background-color: $theme-color-blue;
            color: $theme-color-white;
        }

        button:hover svg path {
            fill: $theme-color-white;
        }

        button:active {
            transform: translateY(-4px) scale(1);
        }
    }

        img.download-apps-img {
        width: 665px;
        transform: translateX(50px);
    }
}

//Section4 'Download our mobile apps' ending


//Section5 'Customer saying' beginning

section.hero-5 {
    margin: 200px auto 500px auto;
    width: 100%;
    max-width: 1120px;
    position: relative;

    img.blue-bg {
        position: absolute;
        z-index: -2;
    }

    h2 {
        text-align: center;
        color: $theme-color-white;
        font-size: 36px;
        padding-top: 50px;
    }

    div.line-4 {
        width: 56px;
        height: 2px;
        border-radius: 30px;
        background-color: $theme-color-white;
        margin: 20px auto 50px auto;
    }

    div.customer-say-div {
        display: flex;
        justify-content: space-between;

        div.customer-div{
            display: flex;
            flex-direction: column;
        }

        img.customer {
            width: 141px;
        }
    }
}


// IT IS DONE.



